/*
    ONE OPTION FOR THE GENERAL STYLE SHEET

    FILENAME:          style_obsolete.css
    ORIGINAL AUTHOR:   Anna Aladiev

    COLORS USED IN DESIGN:
        Black:         #000000
        Dark Red:      #8A0F0F
        Red:           #E72223
        Yellow:        #FDC10E
        Green:         #66AA44
        Light Gray:    #F1F1F1
        Lightest Gray: #F9F9F9
        White:         #FFFFFF
*/

body {
    background-color: #FDC10E;
    font-size: 100%;
    text-align: center;
    margin: 1%;
}

header {
    font-size: 200%;
}

main {
    background-color: #FFFFFF;
    font-size: 100%;
    padding: 1%;
    margin: 2%;
}

div {
    margin: 1%;
}

[type=button] {
    background-color: #E72223;
    color: #FFFFFF;
    border: solid #FDC10E;
    border-radius: 1px;
    font-size: 100%;
    width: 55%;
    padding: 1%;
    margin: 1%;
}

[type=date] {
    font-size: 100%;
}

[type=reset], [type=submit] {
    background-color: #FDC10E;
    border: solid #E72223;
    color: #000000;
    border-radius: 1%;
    font-size: 100%;
    width: 25%;
    padding: 1%;
    margin: 1%;
}

ul {
    list-style-type: none;
}
